.container {
    position: relative;

    > * {
        position: absolute;
        max-width: fit-content;
        left: 0;
        right: 0;
        margin: 0 auto;
    }

    .login-form {
        top: 159px;
        z-index: 10;
        left: -25px;
    }

    .staff-img {
        top: 125px;
        z-index: 5;
        left: 0;
    }
}
