@import "../../css/fonts";
@import "../../css/colors";

.Form {
    width: 900px;
    padding: 20px;
    margin: 10px auto;

    font-family: "Exo 2", sans-serif;

    .header-label {
        display: block;
        padding-bottom: 5px;
        font-size: 26px;
        font-weight: 700;
        text-align: center;
        margin: 0 auto;
    }

    .card {
        .card-content {
            background-color: var(--banana);
        }

        .text-field,
        .combined-row {
            width: 750px;
            margin: 0 auto;
            margin-top: 25px;

            .text1 {
                font-size: 20px;
                font-weight: 500;
                display: inline-block;
                margin-top: 15px;
            }

            .text2 {
                font-size: 16.57px;
                font-weight: 500;
                display: inline-block;
                margin-top: 15px;
            }

            .input {
                display: inline;
                width: 200px;
                margin-top: 25px;
                margin-bottom: 40px;
            }
        }

        .buttons {
            width: 750px;
            margin: 0 auto;
            margin-top: 25px;
            display: flex;
            justify-content: flex-end;
        }
    }
}
