.Dashboard {
    height: 100vh;

    header {
        padding: 10px;
        height: 40px;
        position: relative;

        a {
            font-family: "Quicksand", sans-serif;
            font-weight: bold;
            color: #f9fff5;
            font-size: 25px;
            margin: 0;
            position: absolute;
            top: 50%;
            transform: translateY(-50%);
            float: left;
            display: flex;
            justify-content: center;
            align-items: center;
        }

        .buttons {
            float: right;
        }
    }
}
