.table {
    font-family: "Exo 2", sans-serif;

    .legend {
        height: 100%;
        margin-top: 20px;
        display: grid;
        grid-gap: 10px;
        grid-template-columns: repeat(auto-fill, 500px);

        .legend-unit {
            display: table;
            height: 60px;
            cursor: pointer;

            .color-box {
                height: 100%;
                width: 50px;
                border-radius: 5px;
                display: table-cell;
                vertical-align: middle;
            }

            .label {
                padding-left: 10px;
                display: table-cell;
                vertical-align: middle;
                white-space: pre-line;

                .dot {
                    display: inline-block;
                    vertical-align: top;
                }

                .text {
                    display: inline-block;
                }
            }
        }
    }

    .settingsBtns {
        display: flex;
        flex-direction: row;
        margin-top: -35px;

        div {
            margin-left: auto;

            button {
                margin-left: 15px;
            }

            button:last-child {
                margin-right: 15px;
            }
        }
    }

    .InovuaReactDataGrid {
        height: 600px;
        background-color: var(--banana);
    }

    .InovuaReactDataGrid__header {
        background-color: var(--banana);
    }

    .InovuaReactDataGrid__column-header {
        font-family: "Roboto", sans-serif;
        font-size: 18px;
    }

    .InovuaReactDataGrid__row {
        font-family: "Exo 2", sans-serif;
        font-size: 18px;
        font-weight: 400;
    }

    .InovuaReactDataGrid__row--odd {
        background-color: var(--row2);
    }

    .InovuaReactDataGrid__row--even {
        background-color: var(--row1);
    }

    .InovuaReactDataGrid__column-header__filter-wrapper {
        background-color: var(--banana);
    }

    .inovua-react-pagination-toolbar {
        background-color: var(--banana);
    }
}
