@import "./colors.scss";

.EmployeeDocuments {
    padding: 20px;
    position: relative;

    background-color: white;

    .type-btns {
        width: 840px;
        margin: 0 auto;

        .type-btn {
            width: 280px;
        }
    }

    .css-d9c359-MuiButtonBase-root-MuiToggleButton-root.Mui-selected {
        background-color: var(--lightBlue);
        color: rgb(65, 39, 126);
    }

    .pin {
        color: white;
        font-size: 22px;
        font-weight: 500;
        border-radius: 5px;
        padding: 5px;
        display: inline-block;
    }

    .card-label-card {
        overflow: auto;
        :first-child {
            float: left;
        }

        :nth-child(2) {
            float: right;
        }
    }

    .header-label-card {
        display: inline-block;
        padding-bottom: 5px;
        font-size: 26px;
        font-weight: 700;
    }

    .cards-row {
        display: flex;
        align-items: stretch;
        flex-wrap: wrap;
        height: auto;
        width: 100%;
        padding-bottom: 20px;

        .card {
            position: relative;
            width: calc(50% - 20px);
            margin: 10px;

            .label-text-large {
                display: inline-block;
                width: 250px;
                font-size: 18px;
                font-weight: 400;
            }

            .value-text {
                font-size: 18px;
                font-weight: 600;
            }

            .card-content {
                height: calc(100% - 40px);
                position: relative;
                background-color: var(--banana);

                > div {
                    padding-top: 4px;
                    padding-bottom: 4px;
                }

                .card-actions {
                    padding-top: 15px;
                    padding-bottom: 0px;
                    padding-left: 0px;
                }

                .documents-btn {
                    position: absolute;
                    bottom: 24px;
                    left: 16px;
                }
            }

            .course-label,
            .course-hours,
            .add-course-btn,
            .course-date-label {
                color: white;
                font-weight: 700;
                position: absolute;
                -webkit-transform: translate(-50%, -50%);
                transform: translate(-50%, -50%);
            }

            .add-course-btn {
                left: 50%;
                top: 75%;
            }

            .course-hours {
                font-size: 60px;
                left: 50%;
                top: 20%;
            }

            .course-label {
                width: 325px;
                font-size: 24px;
                left: 50%;
                top: 40%;
            }

            .course-date-label {
                width: 165px;
                font-size: 24px;
                left: 50%;
                top: 50%;
            }
        }

        .main-info {
            .label-text {
                display: inline-block;
                width: 180px;
                font-size: 22px;
                font-weight: 400;
            }

            .value-text {
                font-size: 22px;
                font-weight: 600;
            }
        }
    }
}
