@import "./fonts.scss";

.OkAlert {
    position: absolute;
    left: 50%;
    top: 50%;
    -webkit-transform: translate(-50%, -50%);
    transform: translate(-50%, -50%);
    z-index: 1;

    width: 500px;
    padding: 20px;

    font-family: "Quicksand", sans-serif;

    .header-label {
        display: block;
        padding-bottom: 5px;
        font-size: 20px;
        font-weight: 700;
        text-align: center;
        margin: 0 auto;
    }

    .card {
        padding-bottom: 10px;

        .buttons {
            width: 424px;
            padding-left: 30px;
            padding-right: 30px;
            display: flex;
            justify-content: center;
        }
    }
}
